@import '../../../styles/abstracts/index';

.c-track-vertical {
	margin: gap(normal) auto;
	list-style: none;
	padding: 0;

	&__item {
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: pad(xsmall) 0;

		&:last-of-type {
			border-bottom: 0;
		}

		&__left,
		&__right {
			display: flex;
			align-items: center;
		}

		&__left {
			&__track-name {
				margin: 0 1rem;
				font-weight: 400;
				font-size: 16px;
				cursor: pointer;
			}

			&:hover {
				&__track-name {
					color: $color-white;
				}

				.small-play {
					background-color: $color-white;
				}
			}
		}
		&__right {
			.c-duration,
			.c-licence {
				width: max-content;
				margin-left: gap(small);
			}

			.c-licence,
			.small-download {
				color: $g-text-color;
				&:hover {
					color: $color-white;
				}
			}
		}
	}
}
